astroid==2.9.2
autopep8==1.6.0
black==21.12b0
click==8.0.3
dodgy==0.2.1
flake8==4.0.1
flake8-polyfill==1.0.2
greenlet==1.1.2
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
msgpack==1.0.3
mypy-extensions==0.4.3
pathspec==0.9.0
pep8==1.7.1
pep8-naming==0.12.1
platformdirs==2.4.1
prospector==0.12.2
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pylint==2.12.2
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==2.5.0
pylint-flask==0.6
pylint-plugin-utils==0.7
pynvim==0.4.3
PyYAML==6.0
requirements-detector==0.7
setoptconf==0.3.0
snowballstemmer==2.2.0
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
wrapt==1.13.3
