
snippet lg "logging debug"
logger.debug(${0:${VISUAL:debugstatements}})
endsnippet

snippet lw
logger.warning(${0:${VISUAL:msg}})
endsnippet

snippet lc
logger.critical(${0:${VISUAL:msg}})
endsnippet

snippet li
logger.info(${0:${VISUAL:msg}})
endsnippet
